<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Adivina Número</title>
    </h:head>
    <h:body>
        <center>
            <h3> ADIVINAR UN NÚMERO ENTRE UN RANGO </h3>
            <h:form>              
                <h:outputLabel> Valor mínimo: </h:outputLabel>
                <h:inputText id="lee_num" />
                <br/>
                <br/>
                <h:outputLabel> Valor máximo: </h:outputLabel>
                <h:inputText id="lee_num1"  />
                <br/>
                <br/>
                <h:outputLabel> Número de intentos: </h:outputLabel>
                <h:inputText id="lee_num2"  />
                <br/>
                <br/>
                <h:commandButton value="Jugar" action="resultado"/>
            </h:form>
            </center>
    </h:body>
</html>

