<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Adivina Número</title>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <h:outputLabel> ADIVINAR UN NÚMERO ENTRE UN RANGO </h:outputLabel>
                <br/>
                <h:outputLabel> Dar un valor entre 1 y 100 </h:outputLabel>
                <h:inputText id="lee_num" value="#{numero.numeroa}" required="true" requiredMessage="Debes dar un valor"/>
                <br/>
                <h:outputLabel> #{numero.mensaje} </h:outputLabel>
                <br/>
                <h:commandButton value="Aceptar" action="index.xhtml" actionListener="#{numero.mensajem()}"/>
            </h:form>
        </center>
    </h:body>
</html>

