<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <center>
            <h3> ADIVINAR UN NÚMERO ENTRE UN RANGO </h3>
            <h:outputText> Dar un valor entre "#{juego.valorI}" y "#{juego.valorF}" </h:outputText>
            <h:outputText> Tiene "#{juego.numIntentos}" intentos para acertar </h:outputText>
            <br/>
            <h:form>
                <h:inputText id="lee_num" value="#{juego.valor}" required="true" requiredMessage="Debes dar un valor">
                    <f:validateLongRange minimum="#{juego.valorI}" maximum="#{juego.valorF}"/>
                </h:inputText>
                <br/>
                <h:outputText value="#{juego.mensaje}"/>                
                <br/>
                <br/>
                <h:commandButton value="Aceptar" action="index.xhtml" actionListener="#{juego.mensajeD()}"/>
                <br/>
                <br/>
                <h:commandLink value="Regresar al inicio" action="index_juego.xhtml"/>
            </h:form>
        </center>
    </h:body>
</html>

